$clr-pri: firebrick;
$clr-sec: #1C1B22;
$clr-tri: #22B2B2;

@mixin border-radius() {
   border-radius: 10px;
}

@mixin center-center() {
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin bottom-gradient() {
   background: rgb(0, 0, 0);
   background: linear-gradient(0deg,
         rgba(0, 0, 0, .7) 0%,
         rgba(0, 0, 0, 0.6) 50%,
         rgba(0, 0, 0, 0.35) 50%,
         rgba(0, 0, 0, 0) 100%);
}
@mixin content-width(){
   width: 95%;
   @include responsive-min(1600px){
      width: 85%;
   }
}
@mixin content-spacing(){
   padding: 1rem;
   margin: auto;
   margin-bottom: 1rem;

   @include responsive-min(1000px){
      padding: 2rem;
      margin: auto;
      margin-bottom: 1rem;
   }
}
@mixin responsive-min($value){
   @media screen and (min-width: $value) {
      @content;
   }
}
@mixin responsive-max($value){
   @media screen and (max-width: $value) {
      @content;
   }
}